.btn 
  padding: 10px 15px
  font-size: 16px
  border-radius: 5px
  outline: none
  border: none
  font-family: $font-primary
  background: none
  cursor: pointer

.btn-primary
  background: $cBlue
  color: $cWhite

.btn-secondary 
  color: #9F9F9F
  border: 1px solid #9F9F9F

.google-login 
  border-radius: 5px
  border: 1px solid rgba($cBlack, .10)
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  gap: 10px
  margin-top: 30px