.tables 
  display: grid
  grid-template-columns: 60% 1fr
  height: 500px
  gap: 20px

  .table-transaction 
    background: $cWhite
    padding: 20px
    border: 1px solid rgba($cBlack, .10)
    border-radius: 10px
    height: 100%
    width: 100%

    p 
      font-weight: 700

  .table-notification
    background: $cWhite
    padding: 20px
    border: 1px solid rgba($cBlack, .10)
    border-radius: 10px
    height: 100%
    width: 100%

    p 
      font-weight: 700