*, html 
  margin: 0
  padding: 0
  box-sizing: border-box

ul 
  list-style: none

a 
  text-decoration: none

.app, #app
  position: relative

body 
  color: $cBlack10
  background: $bg-primary

main 
  padding-left: 280px
  margin-top: 40px 
  transition: all 0.3s ease
  padding-bottom: 20px

.main-sidebar-collapsed 
  padding-left: 80px


.container 
  width: 100%
  max-width: 1180px
  margin: 0 auto
  padding: $container-space-15

.card-grid
  margin-top: 50px
  display: grid
  grid-gap: 30px
  grid-template-columns: repeat(3, 1fr)
  margin-bottom: 20px
  width: 100%

.float-right
  float: right
  transform: translateY(-40px)

.expense
  font-size: 11px
  padding: 5px 10px
  background: $cRed
  width: max-content
  margin: 0 auto 
  color: $cWhite
  border-radius: 20px

.income 
  font-size: 11px 
  padding: 5px 10px
  background: $cGreen
  width: max-content
  margin: 0 auto 
  color: $cWhite 
  border-radius: 20px

.page-title 
  margin-bottom: 25px
  font-size: 22px

.empty-notifications, .empty-transactions 
  display: flex 
  flex-direction: column
  align-items: center
  padding: 20px

  img 
    height: 40px
    width: auto

  span 
    font-size: 16px
    color: #7a7a7a 
    font-weight: 400
    margin-top: 8px
