*, html 
  margin: 0
  padding: 0
  box-sizing: border-box

ul 
  list-style: none

a 
  text-decoration: none

.app, #app
  position: relative

body 
  color: $cBlack10
  background: $bg-primary

main 
  padding-left: 280px
  margin-top: 40px 

.container 
  width: 100%
  max-width: 1180px
  margin: 0 auto
  padding: $container-space-15

.card-grid
  margin-top: 50px
  display: grid
  grid-gap: 30px
  grid-template-columns: repeat(3, 1fr)
  margin-bottom: 20px

.float-right
  float: right
  transform: translateY(-40px)
