@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

.btn {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  background: none;
  cursor: pointer;
}

.btn-primary {
  background: #1F50FF;
  color: #fff;
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn-secondary {
  color: #9F9F9F;
  border: 1px solid #9F9F9F;
}

.google-login {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.login-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.login-page .login-left {
  width: 50%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}
.login-page .login-right {
  width: 50%;
  height: 100vh;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-page h1 {
  font-size: 18px;
  font-weight: 800;
}
.login-page .login-container {
  max-width: 380px;
}
.login-page .login-logo {
  margin-left: -10px;
}

.modal {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .modal-container {
  background: #fff;
  border-radius: 10px;
  padding: 22px 20px;
  width: 420px;
}
.modal .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.modal .modal-close {
  cursor: pointer;
}
.modal .modal-content {
  margin-bottom: 50px;
}
.modal .logout-content {
  margin: 40px 0;
}
.modal .logout-content img {
  height: 40px;
  display: block;
  margin: 10px auto;
}
.modal .logout-content p {
  text-align: center;
}
.modal .modal-footer {
  display: flex;
  justify-content: space-between;
}

.card-savings {
  height: 200px;
  width: 100%;
  padding: 25px 15px;
  background: url("../assets/bg-savings.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-savings h2 {
  font-size: 30px;
}

.card-expense {
  height: 200px;
  width: 100%;
  padding: 25px 15px;
  background: url("../assets/bg-expense.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-expense h2 {
  font-size: 30px;
}

.card-income {
  height: 200px;
  width: 100%;
  padding: 20px 15px;
  background: url("../assets/bg-income.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-income h2 {
  font-size: 30px;
}

.table {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: #fff;
}
.table .table-head {
  background: #F4F4F4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 700;
}
.table .table-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
}
.table .table-income {
  font-size: 11px;
  padding: 5px 10px;
  background: #0BBE7E;
  width: max-content;
  color: #fff;
  border-radius: 20px;
}
.table .table-expense {
  font-size: 11px;
  padding: 5px 10px;
  background: #FF5271;
  width: max-content;
  color: #fff;
  border-radius: 20px;
}
.table .table-date {
  color: #7A7A7A;
}

.tables {
  display: grid;
  grid-template-columns: 60% 1fr;
  gap: 20px;
}
.tables .empty-table {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tables .table-transaction {
  background: #fff;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-height: 475px;
  width: 100%;
  overflow-y: auto;
}
.tables .table-transaction .table-title {
  font-weight: 700;
}
.tables .table-head {
  background: #F4F4F4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 20px;
}
.tables .table-head p {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}
.tables .table-head p:nth-child(1) {
  text-align: left;
}
.tables .table-head p:nth-child(3) {
  text-align: right;
}
.tables .transaction-list li {
  padding: 12px 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: center;
}
.tables .transaction-list li p:nth-child(1) {
  text-align: left;
}
.tables .transaction-list li p:nth-child(3) {
  text-align: right;
}
.tables .table-notification {
  background: #fff;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: auto;
  max-height: 475px;
  width: 100%;
  overflow-y: auto;
}
.tables .table-notification p.title {
  font-weight: 700;
  margin-bottom: 10px;
}
.tables .table-notification .item-notification {
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.tables .table-notification .item-notification p {
  font-size: 16px;
  font-weight: 700;
}
.tables .table-notification .item-notification .date {
  font-size: 12px;
  color: #7a7a7a;
  font-weight: 400;
  margin-top: 5px;
}
.tables .table-notification .item-notification .amount {
  font-size: 12px;
  font-weight: 400;
}
.tables .table-notification .item-notification .expense-type {
  color: #FF5271;
}
.tables .table-notification .item-notification .income-type {
  color: #0BBE7E;
}

.profile-card {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  max-width: 550px;
  margin: 0 auto;
}
.profile-card .avatar {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin-bottom: 10px;
}
.profile-card .profile-name {
  text-transform: capitalize;
  margin-bottom: 3px;
}
.profile-card .profile-role {
  color: #1F50FF;
  font-weight: 700;
}
.profile-card .profile-details {
  margin-top: 20px;
}
.profile-card .profile-details span {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.profile-card .profile-details span p {
  font-weight: 700;
}

input, select {
  width: 100%;
  padding: 10px 12px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  height: 40px;
}
input:placeholder, select:placeholder {
  font-size: 12px;
}

select {
  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat !important;
  background-position: calc(100% - 0.75rem) center !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  padding-right: 2rem !important;
}

.form-group {
  margin-bottom: 10px;
}
.form-group p {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
}

.navbar {
  padding-left: 280px;
  height: 85px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.navbar .navbar-container {
  padding: 0 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .hamburger {
  cursor: pointer;
}
.navbar .hamburger-mobile {
  display: none;
  cursor: pointer;
}
.navbar .user-account {
  display: flex;
  gap: 10px;
}
.navbar .user-avatar {
  height: 40px;
  width: 40px;
  background: #1F50FF;
  color: #fff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .user-details p {
  font-weight: 600;
  margin-bottom: 3px;
  text-transform: capitalize;
}
.navbar .user-details a {
  color: #1F50FF;
  font-size: 12px;
  font-weight: 600;
}

.navbar-sidebar-collapsed {
  padding-left: 80px;
}

.sidebar {
  height: 100vh;
  width: 280px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 15px;
  position: fixed;
  top: 0;
  left: 0;
  background: #F9FCFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.sidebar .sidebar-logo-link {
  height: 50px;
  display: block;
  margin-bottom: 65px;
}
.sidebar .sidebar-logo-link .logo-sidebar-close {
  display: none;
}
.sidebar .link-item.active {
  background: #1F50FF;
}
.sidebar .sidebar-link {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #1E1E1E;
  font-weight: 600;
  padding: 11px;
  border-radius: 5px;
  margin-bottom: 8px;
  background: transparent;
  transition: all 0.3s ease;
}
.sidebar .sidebar-link:hover {
  background: #1F50FF;
  color: #fff;
}
.sidebar .sidebar-link:hover .default-icon {
  display: none;
}
.sidebar .sidebar-link:hover .active-icon {
  display: block;
}
.sidebar .sidebar-link .active-icon {
  display: none;
}
.sidebar .sidebar-link.active {
  background: #1F50FF;
  color: #fff;
}
.sidebar .sidebar-link.active .active-icon {
  display: block;
}
.sidebar .sidebar-link.active .default-icon {
  display: none;
}
.sidebar .account-directory {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
}
.sidebar .account-directory .user-logout {
  cursor: pointer;
}
.sidebar .account-directory .account-content {
  display: flex;
  gap: 10px;
  align-items: center;
}
.sidebar .account-directory .user-avatar {
  height: 40px;
  width: 40px;
  background: #1F50FF;
  color: #fff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar .account-directory .account-details p {
  font-weight: 600;
  text-transform: capitalize;
}
.sidebar .account-directory .account-details span {
  color: #1F50FF;
  font-weight: 700;
  font-size: 12px;
}

.sidebar-collapsed {
  width: 80px;
}
.sidebar-collapsed .sidebar-logo-link .logo-sidebar-open {
  display: none;
}
.sidebar-collapsed .sidebar-logo-link .logo-sidebar-close {
  display: block;
}
.sidebar-collapsed .sidebar-link span {
  display: none;
}
.sidebar-collapsed .account-directory {
  justify-content: center;
}
.sidebar-collapsed .account-directory .user-avatar {
  display: none;
}
.sidebar-collapsed .account-directory .account-details {
  display: none;
}

.sidebar-mobile-pull {
  left: 0 !important;
  transition: all 0.3s ease;
}

.sidebar-mobile {
  height: 100vh;
  width: 280px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 15px;
  position: fixed;
  top: 0;
  left: -100%;
  background: #F9FCFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
  z-index: 20;
}
.sidebar-mobile .sidebar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.sidebar-mobile .sidebar-logo-link {
  height: 50px;
  display: block;
}
.sidebar-mobile .sidebar-logo-link .logo-sidebar-open {
  margin-left: -5px;
}
.sidebar-mobile .sidebar-logo-link .logo-sidebar-close {
  display: none;
}
.sidebar-mobile .link-item.active {
  background: #1F50FF;
}
.sidebar-mobile .sidebar-link {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #1E1E1E;
  font-weight: 600;
  padding: 11px;
  border-radius: 5px;
  margin-bottom: 8px;
  background: transparent;
  transition: all 0.3s ease;
}
.sidebar-mobile .sidebar-link:hover {
  background: #1F50FF;
  color: #fff;
}
.sidebar-mobile .sidebar-link:hover .default-icon {
  display: none;
}
.sidebar-mobile .sidebar-link:hover .active-icon {
  display: block;
}
.sidebar-mobile .sidebar-link .active-icon {
  display: none;
}
.sidebar-mobile .sidebar-link.active {
  background: #1F50FF;
  color: #fff;
}
.sidebar-mobile .sidebar-link.active .active-icon {
  display: block;
}
.sidebar-mobile .sidebar-link.active .default-icon {
  display: none;
}
.sidebar-mobile .account-directory {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
}
.sidebar-mobile .account-directory .user-logout {
  cursor: pointer;
}
.sidebar-mobile .account-directory .account-content {
  display: flex;
  gap: 10px;
  align-items: center;
}
.sidebar-mobile .account-directory .user-avatar {
  height: 40px;
  width: 40px;
  background: #1F50FF;
  color: #fff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-mobile .account-directory .account-details p {
  font-weight: 600;
  text-transform: capitalize;
}
.sidebar-mobile .account-directory .account-details span {
  color: #1F50FF;
  font-weight: 700;
  font-size: 12px;
}

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.app, #app {
  position: relative;
}

body {
  color: #1E1E1E;
  background: #F9FCFF;
}

main {
  padding-left: 280px;
  margin-top: 40px;
  transition: all 0.3s ease;
  padding-bottom: 20px;
}

.main-sidebar-collapsed {
  padding-left: 80px;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

.card-grid {
  margin-top: 50px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 20px;
  width: 100%;
}

.float-right {
  float: right;
  transform: translateY(-40px);
}

.expense {
  font-size: 11px;
  padding: 5px 10px;
  background: #FF5271;
  width: max-content;
  margin: 0 auto;
  color: #fff;
  border-radius: 20px;
}

.income {
  font-size: 11px;
  padding: 5px 10px;
  background: #0BBE7E;
  width: max-content;
  margin: 0 auto;
  color: #fff;
  border-radius: 20px;
}

.page-title {
  margin-bottom: 25px;
  font-size: 22px;
}

.empty-notifications, .empty-transactions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.empty-notifications img, .empty-transactions img {
  height: 40px;
  width: auto;
}
.empty-notifications span, .empty-transactions span {
  font-size: 16px;
  color: #7a7a7a;
  font-weight: 400;
  margin-top: 8px;
}

@media screen and (max-width: 1100px) {
  .navbar {
    padding-left: 80px;
  }
  .sidebar {
    width: 77px;
  }
  .sidebar .sidebar-logo-link .logo-sidebar-open {
    display: none;
  }
  .sidebar .sidebar-logo-link .logo-sidebar-close {
    display: block;
  }
  .sidebar .sidebar-link span {
    display: none;
  }
  .sidebar .account-directory {
    justify-content: center;
  }
  .sidebar .account-directory .user-avatar {
    display: none;
  }
  .sidebar .account-directory .account-details {
    display: none;
  }
  main {
    padding-left: 80px;
  }
  .card-grid {
    grid-gap: 20px;
  }
}
@media screen and (max-width: 900px) {
  .tables {
    grid-template-columns: 1fr;
  }
  .sidebar-collapsed {
    width: 280px;
  }
  .sidebar-collapsed .sidebar-link span {
    display: block;
  }
  .sidebar-collapsed .account-directory {
    justify-content: space-between;
  }
  .sidebar-collapsed .account-directory .account-details {
    display: block;
    justify-content: space-between;
    align-items: center;
  }
  .sidebar-collapsed .account-directory .user-avatar {
    display: block;
  }
  .navbar-sidebar-collapsed {
    padding-left: 280px;
  }
}
@media screen and (max-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr;
    margin-top: 20px;
  }
  .card-grid .card-savings, .card-grid .card-expense, .card-grid .card-income {
    height: 150px;
    padding: 10px;
  }
  .btn-primary span {
    display: none;
  }
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
  .navbar {
    padding-left: 0;
  }
  .navbar .hamburger {
    display: none;
  }
  .navbar .hamburger-mobile {
    display: block;
  }
  main, .main-sidebar-collapsed {
    padding-left: 0;
  }
  .card-grid .card-savings, .card-grid .card-expense, .card-grid .card-income {
    height: 130px;
  }
  .login-page .login-left {
    display: none;
  }
  .login-page .login-right {
    width: 100%;
  }
  .table {
    padding: 10px;
    overflow-x: auto;
  }
  .table .table-row, .table .table-head {
    min-width: 450px;
  }
  .tables .table-transaction, .tables .table-notification {
    padding: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
